[submodule "lib/SFML"]
	path = lib/SFML
	url = https://github.com/SFML/SFML.git
[submodule "lib/cryptopp"]
	path = lib/cryptopp
	url = https://github.com/abdes/cryptopp-cmake
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
